<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443258973140-h694j3lt52os77i0k0mositqucdp5i8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443258973140-h694j3lt52os77i0k0mositqucdp5i8g</string>
	<key>API_KEY</key>
	<string>AIzaSyCq0G-eLUqXZe-dAWX-bHtMUnXAT1YVxFA</string>
	<key>GCM_SENDER_ID</key>
	<string>443258973140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ridelkombem.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e4b60</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e4b60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443258973140:ios:efc709886124b942584441</string>
</dict>
</plist>